<div class="card mr-1">
    <div class="card-body">
        <h3 class="card-title text-center">归档</h3>
        <div class="card-body">
            <div class="card-title">日期</div>
            {% for article in articles_by_year %}
            <div class="card-link"><a href="{% url 'blogBase:view_article_list' %}?year={{ article.year|date:"Y" }}">{{ article.year|date:"Y" }}年</a>&nbsp;&nbsp;共计：{{ article.count }}篇</div>
            {% endfor %}
        </div>
        <div class="card-body">
            <div class="card-title">Tags</div>
            <div class="card-text">
                {% for tag in tags %}
                <a href="{% url 'blogBase:view_article_list' %}?tag_id={{ tag.id }}">{{ tag.name }}</a>{% if not forloop.last %}&nbsp;&nbsp;{% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="card-text"></div>
    </div>
</div>